<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright © 2017-2025 WireGuard LLC. All Rights Reserved.
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.REQUEST_INSTALL_PACKAGES"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.UPDATE_PACKAGES_WITHOUT_USER_ACTION"
        tools:node="remove" />
    <application>
        <activity android:name=".updater.UpdateActivity" tools:node="remove" />
        <receiver android:name=".updater.AppUpdater$UpdateReceiver" tools:node="remove" />
    </application>
</manifest>
